@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  background-color: #F7F7F7;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1091px;
  margin: 0 auto;
  color: #000;
  padding: 0 15px;
}

._container__hero {
  max-width: 1470px;
  margin: 0 auto;
  color: #000;
  padding: 0 15px;
}

.button {
  font-size: 17px;
  line-height: 117%;
  color: #fff;
  background-color: #000;
  padding: 8px 23px;
  border-radius: 100px;
}

.button__sellers {
  font-weight: 700;
  text-decoration: underline;
  line-height: 117%;
  color: inherit;
}

.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 117%;
}

.subtitle__content {
  font-size: 36px;
  line-height: 117%;
}

.navigate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.navigate__list {
  padding: 15px 0 14px 0;
}
.navigate__list li a {
  display: none;
}

.navigate__list a {
  color: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 165%;
}
.navigate__list a:not(:last-child) {
  margin: 0 28px 0 0;
}
.navigate__list a:hover {
  text-decoration: underline;
}

.navigate__logo {
  position: absolute;
  top: 16px;
  left: 46.3%;
}

.navigate__cart {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigate__cart > :not(:last-child) {
  margin: 0 24px 0 0;
}

.burger {
  display: none;
}

@media (max-width: 1024px) {
  .navigate__cart a:nth-child(1) {
    display: none;
  }
  .navigate__cart a:nth-child(2) {
    display: none;
  }

  body.lock {
    overflow: hidden;
  }

  .burger {
    display: block;
    position: relative;
    width: 30px;
    height: 22px;
    margin: 5px 0 0 0;
  }

  .burger span {
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .burger:before, .burger:after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .burger:before {
    top: 0;
  }

  .burger:after {
    bottom: 0;
  }

  .navigate__list {
    position: fixed;
    top: 50px;
    left: -120%;
    width: 100%;
    height: 100%;
    background-color: #F0EFEB;
    overflow: auto;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .navigate__list > * {
    display: block;
    text-align: center;
  }
  .navigate__list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navigate__list li a {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  .navigate__list li a:last-child {
    padding: 0px 0 20px 15px;
  }

  .navigate__list a {
    font-size: 20px;
    line-height: 200%;
  }
  .navigate__list a:not(:last-child) {
    margin: 10px 0 10px 0;
  }

  .navigate__list.active {
    left: 0;
  }

  .burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
.hero {
  background-color: #F0EFEB;
  margin: 0 0 60px 0;
}

.hero__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__text {
  padding: 90px 0 0 180px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.hero__title {
  font-size: 60px;
  font-weight: 700;
  line-height: 117%;
  max-width: 534px;
  padding: 0 0px 42px 0;
}

.hero-subtitle {
  font-size: 24px;
  line-height: 117%;
  max-width: 481px;
  padding: 0 0 33px 0;
}

.hero_button {
  padding: 0 0 90px 0;
}

@media (max-width: 1061px) {
  .hero__text {
    padding: 90px 0 0 180px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .hero__title {
    font-size: 40px;
    padding: 0 0 30px;
  }

  .hero-subtitle {
    font-size: 20px;
  }
}
@media (max-width: 897px) {
  .hero__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .hero__text {
    text-align: center;
    padding: 40px 0 0 0px;
  }

  .hero_button {
    padding: 0 0 40px 0;
  }
}
.hero__image img {
  max-width: 100%;
  height: auto;
}

.guides__content {
  text-align: center;
}

.guides__title {
  padding: 0 0 27px 0;
}

.guides__text {
  margin: 0 auto;
  font-size: 20px;
  line-height: 117%;
  max-width: 632px;
  padding: 0 0 47px 0;
}

.guides__sub-text {
  font-size: 20px;
  line-height: 117%;
  padding: 0 0 90px 0;
}

.sellers__title {
  margin: 0 0 52px 0;
}

.sellers__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 220px 0;
}

.item-seller {
  text-align: center;
  line-height: 117%;
}

.item-seller__image {
  padding: 0 0 27px 0;
}

.item-seller__image img {
  max-width: 100%;
  height: auto;
}

.item-seller__title {
  margin: 0 auto;
  font-weight: 700;
  max-width: 155px;
  padding: 0 0 17px 0;
}

.item-seller__price {
  padding: 0 0 10px 0;
}

.item-seller__button {
  margin: 0 0 40px 0;
}

@media (max-width: 1000px) {
  .sellers__row {
    display: block;
    margin: 0 auto;
  }
}
.people-and-society {
  background-color: #CCCCCC4D;
}

.people-and-society__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 76px 0 50px 0;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.people-and-society__image img {
  max-width: 100%;
  height: auto;
}

.people-and-society__text {
  margin: 70px 0 0 50px;
}

.people-and-society__title {
  margin: 0 0 30px 0;
}

.people-and-society__subtitle {
  max-width: 498px;
  margin: 0 0 40px 0;
}

.people-and-society__button {
  margin: 0 0 40px 0;
}

@media (max-width: 920px) {
  .title {
    font-size: 28px;
  }

  .people-and-society__text {
    margin: 40px 0 0 30px;
  }

  .people-and-society__title {
    margin: 0 0 20px 0;
  }

  .subtitle__content {
    font-size: 28px;
  }
}
@media (max-width: 710px) {
  .people-and-society__row {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .people-and-society__text {
    margin: 0 auto;
    text-align: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .people-and-society__subtitle {
    max-width: none;
    margin: 0 0 40px 0;
    padding: 0 30px;
  }
}
.culture-and-heritage {
  background-color: #CCCCCC99;
}

.culture-and-heritage__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 76px 0 50px 0;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.culture-and-heritage img {
  max-width: 100%;
  height: auto;
}

.culture-and-heritage__text {
  margin: 90px 0 50px 0px;
}

.culture-and-heritage__title {
  margin: 0 0 30px 0;
}

.culture-and-heritage__subtitle {
  max-width: 513px;
  margin: 0 0 30px 0;
}

.culture-and-heritage__button {
  margin: 0 0 40px 0;
}

@media (max-width: 920px) {
  .title {
    font-size: 28px;
  }

  .culture-and-heritage__text {
    margin: 40px 0 0 30px;
  }

  .culture-and-heritage__title {
    margin: 0 0 20px 0;
  }

  .subtitle__content {
    font-size: 28px;
  }
}
@media (max-width: 710px) {
  .culture-and-heritage__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .culture-and-heritage__text {
    margin: 0 auto;
    text-align: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .culture-and-heritage__subtitle {
    max-width: none;
    margin: 0 0 40px 0;
    padding: 0 30px;
  }
}
.power-and-politics {
  background-color: #CCCCCC4D;
  margin: 0 0 190px 0;
}

.power-and-politics__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 76px 0 50px 0;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.power-and-politics__image img {
  max-width: 100%;
  height: auto;
}

.power-and-politics__text {
  margin: 70px 0 0 50px;
}

.power-and-politics__title {
  margin: 0 0 30px 0;
}

.power-and-politics__subtitle {
  max-width: 530px;
  margin: 0 0 40px 0;
}

.power-and-politics__button {
  margin: 0 0 40px 0;
}

@media (max-width: 920px) {
  .title {
    font-size: 28px;
  }

  .power-and-politics__text {
    margin: 40px 0 0 30px;
  }

  .power-and-politics__title {
    margin: 0 0 20px 0;
  }

  .subtitle__content {
    font-size: 28px;
  }
}
@media (max-width: 710px) {
  .power-and-politics__row {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .power-and-politics__text {
    margin: 0 auto;
    text-align: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .power-and-politics__subtitle {
    max-width: none;
    margin: 0 0 40px 0;
    padding: 0 30px;
  }
}
.futures__title {
  text-align: center;
  font-size: 36px;
  line-height: 117%;
  max-width: 449px;
  margin: 0 auto;
  padding: 0 0 70px 0;
}

.futures-content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.futures__item {
  text-align: center;
  margin: 0 0 110px 0;
  width: 310px;
}
.futures__item span {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding: 0 0 26px 0;
}
.futures__item .color_locals {
  background-color: #21F7EC;
}
.futures__item .color_insight {
  background-color: #33D3BC;
}
.futures__item .color_voices {
  background-color: #18A5C6;
}
.futures__item .color_tips {
  background-color: #D38F62;
}
.futures__item .color_read {
  background-color: #F94C43;
}
.futures__item .color_instant {
  background-color: #D399FF;
}

.futures__name {
  font-weight: 700;
  font-size: 30px;
  line-height: 117%;
  margin: 0 20px;
}

@media (max-width: 652px) {
  .futures__item {
    width: 220px;
  }
}
@media (max-width: 500px) {
  .futures__item {
    width: 130px;
  }

  .futures__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
  }
}
.each-thalby__title {
  text-align: center;
  padding: 60px 0 290px 0;
}

.each-thalby {
  background-color: #F0F0F0;
  min-height: 480px;
  margin: 0 0 80px 0;
}

.each-thalby__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.each-thalby__camille, .each-thalby__sonia, .each-thalby__lilly {
  margin: -188px 0 0 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.each-thalby__image {
  padding: 0 0 35px 0;
}

.each-thalby__image img {
  max-width: 100%;
  height: auto;
}

.each-thalby__qoute {
  font-size: 22px;
  line-height: 117%;
  letter-spacing: 0.6px;
  font-weight: 700;
  padding: 0 0 30px 0;
  max-width: 248px;
}

.each-thalby__about-author {
  font-size: 19px;
  line-height: 117%;
}
.each-thalby__about-author span {
  font-size: 20px;
}

.each-thalby__button {
  font-size: 18px;
  padding: 45px 0 0 0;
}

@media (max-width: 960px) {
  .each-thalby {
    min-height: 0px;
  }

  .each-thalby__row {
    display: block;
  }

  .each-thalby__camille {
    margin: -188px 0 40px 0;
  }

  .each-thalby__sonia, .each-thalby__lilly {
    margin: 0 0 40px 0;
  }
}
.keep-in-touch__content {
  text-align: center;
}

.keep-in-touch__title {
  padding: 0 0 10px 0;
}

.keep-in-touch__subtitle {
  font-weight: 700;
  max-width: 496px;
  margin: 0 auto;
  padding: 0 0 26px 0;
}

.keep-in-touch__forms {
  font-size: 14px;
  line-height: 117%;
}

.keep-in-touch__forms_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 18px 0;
}

.user__info {
  border: 1px solid #000000;
}

.user-name {
  width: 153px;
  height: 39px;
  padding: 0 0 0 8px;
  margin: 0 60px 0 0;
}

.user-last-name {
  width: 153px;
  height: 39px;
  padding: 0 0 0 8px;
}

.user-email {
  width: 366px;
  height: 39px;
  padding: 0 0 0 8px;
  display: block;
  margin: 0 auto;
}

.forms__button {
  margin: 16px 0 88px 0;
}

@media (max-width: 396px) {
  .user-name {
    width: 120px;
    height: 39px;
    padding: 0 0 0 8px;
    margin: 0 10px 0 0;
  }

  .user-last-name {
    width: 120px;
    height: 39px;
    padding: 0 0 0 8px;
  }

  .user-email {
    width: 250px;
    height: 39px;
    padding: 0 0 0 8px;
    display: block;
    margin: 0 auto;
  }
}
.footer {
  background-color: #020202;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0 20px 0;
}

.footer__social__list {
  padding: 0 30px 0 0;
}

.footer__logo {
  padding: 0 0 37px 0;
}

.footer__social img:not(:last-child) {
  padding: 0 22px 0 0;
}

.footer__info {
  color: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
}
.footer__info a {
  display: block;
  color: inherit;
  padding: 0 0 12px 0;
}
.footer__info h2 {
  padding: 0 0 36px 0;
}

.footer__about {
  margin: 0 70px 0 0;
}

.thalby__2022 {
  text-align: center;
  color: #fff;
  margin: 0 auto;
  font-size: 14px;
  padding: 0 0 20px 0;
}
.thalby__2022 span {
  text-decoration: underline;
  font-size: 15px;
}

@media (max-width: 545px) {
  .footer__about {
    margin: 0 40px 0 0;
  }

  .footer__row {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__info {
    margin: 0 0 30px 0;
  }

  .footer__social {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0 0 20px 0;
  }
}